<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home Student Management</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">

    <div class="text-center">
        <h1 class="fs-1 fw-bolder ">This is website for managing student directory</h1>
        <P>Press button and start managing your student directory</P>
        <a type="button" class="btn btn-secondary fs-5" href="/signIn" style="width: 100px;">Start</a>
    </div>

</section>
</body>
</html>