<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="adminbase::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<!--<Sidebar>-->
<section>

    <h1 class="text-center heading">Student List</h1>
    <div id="contents" class="content">

        <!-- search bar-->

        <div class="container">
            <div class="search-container  my-3">
                <input onkeyup="IdSearch()" type="text" id="search-input" class="form-control"
                       placeholder="Search your name">
                <div id="search-result" class="search-result">

                </div>
            </div>
        </div>

        <div class="container">
            <div class="con">

                <table class="table table-striped table-hover table-bordered ">
                    <thead class="table-dark text-center align-middle">
                    <tr>

                        <th>Profile Picture</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>E-mail</th>
                        <th>Username</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody class="text-center align-middle">
                    <tr th:each="student:${students}">
                        <td>
                            <div class=" table--imagecontainer justify-content-center text-center">
                                <img alt="Avatar" class="img" th:src="'/image/'+(${student.image} ?:'profile.png')">
                            </div>
                        </td>
                        <td th:text="${student.a1firstName}"></td>
                        <td th:text="${student.a2lastName}"></td>
                        <td th:text="${student.a3_email}"></td>
                        <td th:text="${student.c1_username}"></td>
                        <td th:text="${student.c3_date}"></td>
                        <td>
                            <a th:href="@{/admin/zakir/delete/{id} (id=${student.id})}"
                               class="btn btn-warning btn-sm mb-3">Delete StudentID</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- pagination-->

            <nav th:if="${totalPage > 1}" aria-label="...">
                <div class="text-center mb-1">
                    Total ID's:[[${totalUsers}]]
                </div>
                <ul class="pagination justify-content-center align-items-center mb-2">
                    <li class="page-item" th:classappend="${CurrentPage == 1}? 'disabled':''">
                        <a th:if="${CurrentPage > 1 }" class="page-link"
                           th:href="@{'/admin/zakir/idList/{pageNo}' (pageNo=${CurrentPage}-1)}">Previous</a>
                        <span th:unless="${CurrentPage > 1 }" class="page-link">Previous</span>
                    </li>


                    <li class="page-item " th:each="i:${#numbers.sequence(1,totalPage)}"
                        th:classappend="${i == CurrentPage} ?'active':''"
                        th:attr="aria-current=${i== CurrentPage} ? 'page':null">
                        <a th:if="${i != CurrentPage}" class="page-link"
                           th:href="@{'/admin/zakir/idList/{pageNo}' (pageNo=${i})}">[[${i}]]</a>
                        <span th:unless="${i != CurrentPage}" class="page-link active "
                              style="background: black!important">[[${i}]]</span>
                    </li>


                    <li class="page-item" th:classappend="${CurrentPage == totalPage}? 'disabled':''">
                        <a th:if="${CurrentPage < totalPage}" class="page-link"
                           th:href="@{'/admin/zakir/idList/{pageNo}' (pageNo=${CurrentPage}+1)}">Next</a>
                        <span th:unless="${CurrentPage < totalPage}" class="page-link">Next</span>

                    </li>
                </ul>
            </nav>

        </div>
    </div>
</section>
</body>
</html>